
.caseStudy ul {
width: 500px !important;
font-size: 0.80em !important;
padding-bottom:5px;

}

.caseStudy li{
padding-bottom:5px;
}



.caseStudies label
{
   font-family : Arial, sans-serif;
   font-size:0.8em;
   font-weight: bold;
}

.caseStudies fieldset
{
   padding:10px;
   border:1px solid #ccc;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
-khtml-border-radius: 10px;
border-radius: 10px;   
}

.caseStudies legend, h2
{
   font-family : Arial, sans-serif;
   font-size: 1.3em;
   font-weight:bold;
   color:#333;
   padding: 0 3px;
}

.picbullet {
list-style:square inside !important;
margin-left:15px;
}
.picbullet h2 {
font-size: 1.3em;
clear: none;
margin-top:1em;
}

ul .picbullet { 
  width: 550px !important;
  margin-left: 0;
  padding-left: 1em;
  }
.picbullet li
  {
  margin: 0;
  padding-left: 0;
  padding-right: 3em !important;
  word-wrap:break-word;
  }