/*PANEL APPEARANCE =========================================*/

.anythingControls .b  a{
	background:#f2f2f2 !important;
	color:#ccc !important;
}



#tabDisplayContainer .b {  
position:inline-block;
z-index:-10;
 margin-left:18px; /* to move first tab over to see the bevel border */
margin-bottom: -15px; /* to give buttons a tab look */
vertical-align:text-top;
}


.sliderTopControls .b a {
 font-size:16px;
	-moz-text-size-adjust:auto; 
	-webkit-text-size-adjust:auto; 
	-ms-text-size-adjust:auto;
 }
 
  .sliderTopControls .b li {
    display: inline-block; /* added inline-block to control height of tab */
	height:40px; /*to increase the tab height */
    margin: 0px 3px;
    padding: 0px 20px;
    background: none repeat scroll 0% 0% rgb(230, 227, 227);
    border-radius: 10px 10px 10px 10px;
    box-shadow: -2px -2px 2px rgb(136, 136, 136) inset;
	}

li.sliderTopControls .b:active {
    background-color: #FFFFFF;
    
    background: #FFFFFF -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#69699A)) no-repeat;
  
    background: #FFFFFF -moz-linear-gradient(top, #FFFFFF, #69699A) no-repeat;
 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#69699A) no-repeat;

    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#69699A)" no-repeat;
}


 
li.sliderTopControls .b:hover{
    background-color: #E2E6E2 !important;
     
    background: #E2E6E2 -webkit-gradient(linear, left top, left bottom, from(#C0A0A0), to(#E2E6E2)) no-repeat !important;
    
    background: #E2E6E2 -moz-linear-gradient(top, #C0A0A0, #E2E6E2) no-repeat !important;
  
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#C0A0A0, endColorstr=#E2E6E2) no-repeat !important;
  
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#C0A0A0, endColorstr=#C0A0A0)" no-repeat !important;

 } 
 
 
li {display:block; }
.sliderTopControls .b {
font-size:.8em;
}
h1 {margin-top:10px;}

.anythingControls .b {
display:inline-block !important;
padding:10px;}

ul.thumbNav .b li{
display:inline-block !important;
list-style:none;
width:100%;
height:35px;
padding:10px;
}





/*TAB PANEL CONTROLS =========================================*/

#panelList .b{
	/*border:4pt solid #e6e3e3;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px; */
	width:535px;
	height: auto;
	margin-bottom:25px;
}

#panelList .b ul {
width:535px;
height: auto !important;
}

.sliderTopControls .b{
	padding-left:0px;
}

.sliderTopControls .b li{
	display:inline;
	margin:0px 3px 0px 3px;
	padding:0px 20px;
	background: #e6e3e3;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;

	-moz-box-shadow: inset -2px -2px 2px #888;
	-webkit-box-shadow: inset -2px -2px 2px #888;
	box-shadow: inset -2px -2px 2px #888;


}

.tabControlGuts .b{
padding:10px 0px;
}
.sliderTopControls .b a {
	/* top shadow */
	color: #2a7fff;
	font-size:8pt;
	vertical-align:top;
}

.sliderTopControls .b a:hover{
color:#888;
}

.thumbNav .b{
line-height:30px;
}


.anythingSlider-default .b .arrow a {

background: url(/js/widgets/stylesheets/anythingslider/imagesCustom/defaultXLighter.png) no-repeat;
}
/* OPTION C- Panel tab list option c no tabs only words */

/*PANEL APPEARANCE =========================================*/


.anythingControls .c  a{
	background:#f2f2f2 !important;
	color:#ccc !important;
}



#tabDisplayContainer .c {  
position:inline-block;
z-index:-10;
 margin-left:18px; /* to move first tab over to see the bevel border */
margin-bottom: -15px; /* to give buttons a tab look */
vertical-align:text-top;
}


.sliderTopControls .c a {
 font-size:16px;
	-moz-text-size-adjust:auto; 
	-webkit-text-size-adjust:auto; 
	-ms-text-size-adjust:auto;
 }
 
  .sliderTopControls .c li {
    display: inline-block; /* added inline-block to control height of tab */
	height:40px; /*to increase the tab height */
    margin: 0px 3px;
    padding: 0px 10px;
    background-color: transparent;
    /*border-radius: 10px 10px 10px 10px;
    box-shadow: -2px -2px 2px rgb(136, 136, 136) inset; */
	}

li.sliderTopControls .c:active {
    background-color: #FFFFFF;
    
    background: #FFFFFF -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#69699A)) no-repeat;
  
    background: #FFFFFF -moz-linear-gradient(top, #FFFFFF, #69699A) no-repeat;
 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#69699A) no-repeat;

    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#69699A)" no-repeat;
}


 
li.sliderTopControls .c:hover{
    background-color: #E2E6E2 !important;
     
    background: #E2E6E2 -webkit-gradient(linear, left top, left bottom, from(#C0A0A0), to(#E2E6E2)) no-repeat !important;
    
    background: #E2E6E2 -moz-linear-gradient(top, #C0A0A0, #E2E6E2) no-repeat !important;
  
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#C0A0A0, endColorstr=#E2E6E2) no-repeat !important;
  
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#C0A0A0, endColorstr=#C0A0A0)" no-repeat !important;

 } 
 
 
li {display:block; }
.sliderTopControls .c {
font-size:.8em;
}
h1 {margin-top:10px;}

.anythingControls .c {
display:inline-block !important;
padding:10px;}

ul.thumbNav .c li{
display:inline-block !important;
list-style:none;
width:100%;
height:35px;
padding:10px;
}

/*TAB PANEL CONTROLS =========================================*/

#panelList .c{
	/*border:4pt solid #e6e3e3;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px; */
	width:535px;
	height: auto;
	margin-bottom:25px;
}

#panelList .c ul {
width:535px;
height: auto !important;
}

.sliderTopControls .c{
	padding-left:0px;
}

.sliderTopControls .c li{
	display:inline;
	margin:0px 3px 0px 3px;
	padding:0px 10px;
	background-color: transparent;
	/*border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;

	-moz-box-shadow: inset -2px -2px 2px #888;
	-webkit-box-shadow: inset -2px -2px 2px #888;
	box-shadow: inset -2px -2px 2px #888; */


}

.tabControlGuts .c{
padding:10px 0px;
}
.sliderTopControls .c a {
	/* top shadow */
	color: #2a7fff;
	font-size:8pt;
	vertical-align:top;
}

.sliderTopControls .c a:hover{
color:#888;
}

.thumbNav .c{
line-height:30px;
}


.anythingSlider-default .c .arrow a {

background: url(/js/widgets/stylesheets/anythingslider/imagesCustom/defaultXLighter.png) no-repeat;


