BODY
	{background-color: white !important;}

/*---Slider Specific ---*/
.anythingWindow {
	background-color: #eee;
	}
.anythingWindow  DIV{
	padding: .8em;
	}
	
/*---- Buttons Success----*/
.btn-success{
	color:white !important;
	font-weight: bold !important;
	}
.btn-success :hover,
.btn-success :active,
.btn-success :visited,
.btn-success :focus,
.btn-success .active  {
	color: white !important;
	}
	
/*---- Buttons Primary----*/
.btn-primary{
	color:white !important;
	font-weight: bold !important;
	}
.btn-primary :hover,
.btn-primary :active,
.btn-primary :visited,
.btn-primary :focus,
.btn-primary .active  {
	color: white !important;
	}
	
/*---- Buttons Info----*/
.btn-info{
	color:white !important;
	font-weight: bold !important;
	}
.btn-info :hover,
.btn-info :active,
.btn-info :visited,
.btn-info :focus,
.btn-info .active  {
	color: white !important;
	}
	
/*----Social Buttons ---*/
#socialbuttons {
	display: block;
	padding:10px;
	text-align:left;
	margin-left:auto;
	margin-right:auto;
	}



