body{
background:white;
font-family: 'Open Sans', sans-serif;
}

h2 {
font-family: 'Satisfy', cursive;
font-size:24px;
margin-bottom: 15px;
}
h1 {
font-family: 'Satisfy', cursive;
font-size:36px;
margin-bottom: 15px;
}
/* - special --*/
.fancy,
.fancy ul {
  list-style-type: none;
  margin: 0 ;
  padding: 0;
	-moz-text-size-adjust:auto; 
	-webkit-text-size-adjust:auto; 
	-ms-text-size-adjust:auto;
}

.fancy li {
  font: 200 16px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
  margin-right: 75px;
}

.fancy li:last-child {
  border: none;
}

.fancy li a {
  text-decoration: none;
  display: block;
  width: 535px;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}

.fancy li a:hover {
  font-size: 18px;
  background: #f6f6f6;
}

.bulleted,
.bulleted ul {
  list-style-type: circle;
  margin: 5px ;
  padding: 0;
	-moz-text-size-adjust:auto; 
	-webkit-text-size-adjust:auto; 
	-ms-text-size-adjust:auto;
}

.bulleted li {
  font: 16px Helvetica, Verdana, sans-serif;
  margin-left:12px;
  margin-right:75px;
}

/* -- Header --*/	
.headerblock{
	height:100px;width:1000px;margin:0px 0px 0px 0px;
	text-align:left;
}

.headerblock .logo{
font-size:24pt;
margin:0px 0px 0px 20px;
color:#2a7fff;
width:300px;
}

.headerblock .fullname{
	margin:-25px 0px 0px 0px; /*negative top margin to move above the navbar */
	color:#666;
	float:right;
	text-transform: uppercase;
	width:350px !important; /*this moves the left justified tagline horizontally*/
}

.tagLineb{
	font-family: 'Satisfy', cursive !important;
	font-size:18pt;
	color: #000000 !important;
	margin:8px 0px 0px 20px;
	float:left !important;
	color:#666;
	height:0px; /*for some reason this block rides at the bottom of the enclosing div, I set this so it doesn't hang out.*/
	width:425px !important; /*this moves the left justified tagline horizontally*/
}
.headerblock .livechat {
 margin-left:auto !important;
 margin-right:auto !important;
 vertical-align:top;
 }
.navBlock{
width:1000px;background:#f2f2f2;height:50px;margin:0px 0px 20px 0px;
}

.navMenus{
width:860px;
padding-top:13px;
margin:0px 70px 20px 70px;
}
/* -- Footer --*/
.footerContainer{
margin-top:20px;background:#f2f2f2;width:1000px;min-height:200px;padding-top:20px;
}

/*
Sheilla, I removed the footer css in favor of a global setting that also works better.
Specifically these: .footerSiteDrectoryBlock, .footerSiteDrectoryBlock .sitemapBlock, .footerSiteDrectoryBlock .sitemapBlock .sitemapTitle, .sitemapContainer, .sitemapItem, .sitemapItem a, .sitemapItem a:hover, .footerContactBlock, .contactFooterContent
*/

#socialbuttons {
padding:10px;
text-align:left;
margin-left:auto;
margin-right:auto;
}

/* --Main Content --*/

.mainContentContainer{
/*height:auto;*/
}

#first {
background-color:#999999;
background-image: url('http://elearning.technology.<!rootDomainSegment!>/images/chalkboard-green.png');
overflow:hidden;
padding:15px;
}

#panelList {
width:598px;
border: none !important;
}

#border {
position:inline-block;
width:90% !important;
height: 93% !important;
z-index:99;
padding:0;
margin:0 21px;
border: 10pt solid #0095cd;
border-radius: 0px 25px 5px 25px;
box-shadow: inset 0px 7px 7px -7px rgb(136, 136, 136);
}
.informationPanel{
color:white;
font-size:.8em;
position:inline-block;
width:95%;
height:93%; 
padding: 15px;
	-moz-text-size-adjust:auto; 
	-webkit-text-size-adjust:auto; 
	-ms-text-size-adjust:auto;
}
.informationPanel h1 {
color:white;
font-size: 28px;
height:auto !important;
}

.informationPanel h2 {
color:white;
font-size: 20px;
height:auto !important;
} 

.panel {
position:inline-block;
z-index:-5;

}


.panelBlock{
	position:relative;
	z-index:-1;
	width:900px;
	height:auto !important;
	font-size:14pt;
	color:red;
	color: #2a7fff;
	overflow:hidden;
	text-align:left;
	background:#f2f2f2;
}

.panelFirstLine{
font-family: 'Open Sans Condensed', sans-serif;
font-weight:bold;
margin-bottom:30px;
font-size:18pt;
}

.panelWisecrackBlock{
width:700px;
}

.panelWisecrack{
margin-left:50px;
}

.panelLastLine{
font-weight:bold;
font-style:italic;
margin-bottom:30px;
margin-top:30px;
font-size:18pt;
}

.anythingSlider-default.activeSlider .anythingControls  a{
	background:#f2f2f2 !important;
	color:#ccc !important;
}


.anythingSlider-default.activeSlider .anythingWindow  {
	border-color: transparent !important;
	border-bottom:2pt solid #f2f2f2 !important;

}

#tabDisplayContainer {  
position:inline-block;
z-index:-10;
 margin-left:22px; /* to move first tab over to see the bevel border */
margin-bottom: -10px; /* to give buttons a tab look */
vertical-align:text-top;
}


.sliderTopControls a {
	color: rgb(255, 255, 255) !important;
	font-size: .9em;
	vertical-align:top;
	}
	
.sliderTopControls a:hover {
 color: rgb(255, 255, 255) !important;
 }
 
.sliderTopControls a:active {
 color: rgb(255, 255, 255) !important;
 }
 
.sliderTopControls li {
    display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	padding: .2em 1em .2em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
    height: 30px;
    margin: 0px 0px;
    background: none repeat scroll 0% 0% rgb(230, 227, 227);
	border-radius: .5em .5em 0 0 !important;
	-webkit-border-radius: .5em .5em 0 0; 
	-moz-border-radius: .5em .5em 0 0;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 -2px 2px rgb(136, 136, 136) inset;
	/*--forblue--*/
	color: rbg(255, 255, 255) !important;
	border: solid 1px #0076a3;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}

.sliderTopControls:hover li{
	text-decoration: none;
	/*--forblue--*/
	color: rgb(255, 255, 255);
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}
.sliderTopControls:active li {
	position: relative;
	top: 1px;
	/* -- forblue--*/
	color: #80bed6;
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
	background: -moz-linear-gradient(top,  #0078a5,  #00adee);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
} 
 
 

 
/*NAVIGATION BAR STYLES =========================================*/

ul.dropdown a:hover{
	color: #000;
}
ul.dropdown a:active{
	color: #ffa500;
}
ul.dropdown li a
{
	border-right: 1px solid #333;
	color:#2a7fff;
}
ul.dropdown li:hover{
	background: #F3D673;
	color: #2a7fff;
}
ul.dropdown li.hover a{
	color: black;
}

/*refers to subsequent levels of popup, if present*/
ul.dropdown ul li{
	background: #f6f6f6;
	color: #000;
}

/* My Live Chat */
#MyLiveChatContainer {
width:175px;
}
#livechat div{
width: 175px;
z-index:-10;
}