


/*---Slider Specific ---*/
.anythingWindow {
	background-color: #eee;
	}
.anythingWindow  DIV{
	padding: .8em;
	}
	
/*---- Header -----------*/
.page-header {
	border-bottom: 0 none !important;
	margin: 20px 0px 10px !important;
	}
	
.fullname {
	color:#3b5998;
}
	
/* ------NavBar --------*/
.navBlock {
	background-image: -webkit-linear-gradient(top, #fff 0%, #f8f8f8 100%);
  background-image:      -o-linear-gradient(top, #fff 0%, #f8f8f8 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f8f8f8));
  background-image:         linear-gradient(to bottom, #fff 0%, #f8f8f8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
}

	
/*----- Typography --*/
.tagLine {
	height: 40px;
	font-family: "Satisfy",cursive;
	font-size: 18pt;
	margin: 40px 0px 0px;
	color: #666;
}

@media only screen and (max-width : 768px) {
	.tagLine {
		margin: 0px 10px 0px;
		}
}

/* Dropdowns in Nav  */

ul.dropdown li a {
	color:#3b5998;
}

ul.dropdown li.hover ,
ul.dropdown li  a:hover,
ul.dropdown li a:active,
ul.dropdown li .active{
    background-image: -webkit-linear-gradient(top, #8b9dc3 0%, #dfe3ee 100%);
  background-image:      -o-linear-gradient(top, #8b9dc3 0%, #dfe3ee 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#8b9dc3), to(#dfe3ee));
  background-image:         linear-gradient(to bottom, #8b9dc3 0%, #dfe3ee 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8b9dc3', endColorstr='#ffdfe3ee', GradientType=0);
  background-repeat: repeat-x;
  -webkit-box-shadow: inset 0 3px 9px rgba(59, 89, 152, .075);
          box-shadow: inset 0 3px 9px rgba(59, 89, 152, .075); 
		  
}


/* --- Carousel ---*/

/* Carousel Fade Effect */
.carousel.carousel-fade .item {
	-webkit-transition: opacity 1s linear;
	-moz-transition: opacity 1s linear;
	-ms-transition: opacity 1s linear;
	-o-transition: opacity 1s linear;
	transition: opacity 1s linear;
	opacity: .3;
}
.carousel.carousel-fade .active.item {
	opacity: .7;
}
.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
	left: 0;
	z-index: 2;
	opacity: 0;
	filter: alpha(opacity=0);
}
/* Carousel Overlay */
.carousel-overlay {
	position: absolute;
	bottom: 100px;
	right: 0;
	left: 0;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}


/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 500px;
  opacity: .7;
  background-size: cover;
  background-position: center center;
}

/*---Service List Styling --*/
#servicelist {
	list-style: circle outside none;
	text-align:left;
}

.styledlist {
	margin-left: 1em;
	list-style: circle outside none;
	text-align:left;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.circleimg{
    display: inline-block;
    width: 140px;
    height: 140px;

/* Add this */
    line-height:140px; /* as height */
    text-align:center;
}

.circleimg .glyphicon {
	font-size: 75px;
	line-height: 140px;
}

.lt-blue {
	background-color: #dfe3ee;
	color: white;
}

.md-blue {
	background-color: #8b9dc3;
	color: white;
}

.dk-blue {
	background-color:  	#3b5998;
	color: white;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}
/* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

/* -- Glyphicon Animations --*/
#flip-glyphicon {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}



/*---- Buttons Success----*/
.btn-success{
	color:white !important;
	font-weight: bold !important;
	}
.btn-success :hover,
.btn-success :active,
.btn-success :visited,
.btn-success :focus,
.btn-success .active  {
	color: white !important;
	font-weight: bold;
	}
	
/*---- Buttons Primary----*/
.btn-primary{
	background-color:#3b5998;
	border-color:#2f4779;
	color:white !important;
	font-weight: bold !important;

	}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #23355b;
  border-color: #1d2c4c;
}
/*---Medium Blue Button ---*/
.btn-md-blue{
	background-color:#8b9dc3;
	border-color:#6f7d9c;
	color:white !important;
	font-weight: bold !important;

	}
.btn-md-blue:hover,
.btn-md-blue:focus,
.btn-md-blue.focus,
.btn-md-blue:active,
.btn-md-blue.active,
.open > .dropdown-toggle.btn-md-blue {
  color: #fff;
  background-color: #6f7d9c;
  border-color: #616d88;
}	
.btn-md-blue:active,
.btn-md-blue.active,
.open > .dropdown-toggle.btn-md-blue {
  background-image: none;
}
.btn-md-blue.disabled,
.btn-md-blue[disabled],
fieldset[disabled] .btn-md-blue,
.btn-md-blue.disabled:hover,
.btn-md-blue[disabled]:hover,
fieldset[disabled] .btn-md-blue:hover,
.btn-md-blue.disabled:focus,
.btn-md-blue[disabled]:focus,
fieldset[disabled] .btn-md-blue:focus,
.btn-md-blue.disabled.focus,
.btn-md-blue[disabled].focus,
fieldset[disabled] .btn-md-blue.focus,
.btn-md-blue.disabled:active,
.btn-md-blue[disabled]:active,
fieldset[disabled] .btn-md-blue:active,
.btn-md-blue.disabled.active,
.btn-md-blue[disabled].active,
fieldset[disabled] .btn-md-blue.active {
  background-color: #8b9dc3;
  border-color: #7d8daf;
}
.btn-md-blue .badge {
  color: #8b9dc3;
  background-color: #fff;
}
	
/*----Light Blue Button ---*/
.btn-lt-blue{
	background-color:#dfe3ee;
	border-color:#b2b5be;
	color:#3b5998;
	font-weight: bold !important;

	}
.btn-lt-blue:hover,
.btn-lt-blue:focus,
.btn-lt-blue.focus,
.btn-lt-blue:active,
.btn-lt-blue.active,
.open > .dropdown-toggle.btn-lt-blue {
  color: #3b5998;
  background-color: #b2b5be;
  border-color: #9c9ea6;
}	
.btn-lt-blue:active,
.btn-lt-blue.active,
.open > .dropdown-toggle.btn-lt-blue {
  background-image: none;
}
.btn-lt-blue.disabled,
.btn-lt-blue[disabled],
fieldset[disabled] .btn-lt-blue,
.btn-lt-blue.disabled:hover,
.btn-lt-blue[disabled]:hover,
fieldset[disabled] .btn-lt-blue:hover,
.btn-lt-blue.disabled:focus,
.btn-lt-blue[disabled]:focus,
fieldset[disabled] .btn-lt-blue:focus,
.btn-lt-blue.disabled.focus,
.btn-lt-blue[disabled].focus,
fieldset[disabled] .btn-lt-blue.focus,
.btn-lt-blue.disabled:active,
.btn-lt-blue[disabled]:active,
fieldset[disabled] .btn-lt-blue:active,
.btn-lt-blue.disabled.active,
.btn-lt-blue[disabled].active,
fieldset[disabled] .btn-lt-blue.active {
  background-color: #dfe3ee;
  border-color: #c8ccd6;
}
.btn-lt-blue .badge {
  color: #dfe3ee;
  background-color: #fff;
}

/*---- Buttons Info----*/
.btn-info{
	color:white !important;
	font-weight: bold !important;

	}
.btn-info :hover,
.btn-info :active,
.btn-info :visited,
.btn-info :focus,
.btn-info .active  {
	color: white !important;
	font-weight: bold !important;
	}
	
/*---- Buttons Warning----*/
.btn-warning{
	color:white !important;
	font-weight: bold !important;
	}
.btn-warning :hover,
.btn-warning :active,
.btn-warning :visited,
.btn-warning:focus,
.btn-warning .active  {
	color: white !important;
	font-weight: bold !important;
	}
	
/*---- Buttons Danger----*/
.btn-danger{
	color:white !important;
	font-weight: bold !important;
	}
.btn-danger :hover,
.btn-danger :active,
.btn-danger :visited,
.btn-danger:focus,
.btn-danger .active  {
	color: white !important;
	font-weight: bold !important;
	}
/* ---Special Buttons ---*/
#servicebuttons.btn-primary  {
	background-color: transparent;
	border-color: transparent;
	box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.15) inset, 0px 0px 0px rgba(0, 0, 0, 0.075);
}	

#servicebuttons.btn-primary:hover,
#servicebuttons.btn-primary:focus,
#servicebuttons.btn-primary.focus,
#servicebuttons.btn-primary:active,
#servicebuttons.btn-primary.active,
#servicebuttons.open > .dropdown-toggle.btn-primary{
  color: #333333 !important;
  background-color: #e6e6e6;
  border-color: #adadad;
}

/*----Social Buttons ---*/
#socialbuttons {
	display: block;
	padding:10px;
	text-align:left;
	margin-left:auto;
	margin-right:auto;
	}
	
/*--------Blog Rss Css -----*/
/* begin styles for RSS Feed */

div.feedburnerFeedBlock{
	 margin: 1em;
	 width: 100%;
	font-size: 80%;
	 
}

p.feedTitle img {padding:0.5em;}
.feedTitle {
	text-decoration: none;
	font-family: verdana, sans-serif;
	font-size: 100%;
	font-weight:bold;
	margin: 0px;
	padding:0em;
	text-align: left;
}

div.feedburnerFeedBlock span.headline a {
    font-weight: normal;
    font-size: 1.1em;
    color: #C60;
}

div.feedburnerFeedBlock ul {
    list-style: outside none none;
    margin: 0px;
    padding: 0px;
}

div.feedburnerFeedBlock ul li {
    margin-bottom: 2em;
    padding-left: 0px;
    text-indent: 0px;
}

div.feedBurnerFeedBlock ul li  a{
	color:#F60;
	font-weight:bold;
	font-family:arial, sans-serif;
	}
	
div.feedBurnerFeedBlock ul li a:visited {
	color:#330066;
}

.date {
	font-size: 85%;
	font-weight : normal;
	color: #F60;
	} 

.fbsubscribelink a {
  font-size: small;
  }
  

/* buttons modeled from http://www.wellstyled.com/css-inline-buttons.html */

.pod-play {
   _width:12em;
   margin: 0 0.2em; padding: 0.1em 0; _padding:0;
   
   white-space:nowrap;
   text-decoration: none;
   vertical-align:middle;
   background: #fb6;
   color: black;
   }
.pod-play em {
   _width:1em; _cursor:hand;
   font-style: normal;
   margin:0; padding: 0.1em 0.5em;
   background: white;
   color: #222;
   }
.pod-play span {
   _width:1em; _cursor:hand;
   margin:0; padding: 0.1em 0.5em 0.1em 0.3em;
   }
.pod-play:hover {
   background: #666;
   color: white;
   }
.pod-play:hover em {
   background: black;
   color: white
   }




