<footer class='footer' itemscope itemtype="http://schema.org/Product">
    <div class="container">
	  <div class='row'>
	    <div class='col-md-6'>
		<p itemprop="brand" itemscope itemtype="http://schema.org/Brand">
&copy; <span itemprop="name">Central Minnesota Educational Research and Development Council</span>, St Cloud, MN</p>
		</div>
		<div class='col-md-6'>
		<p><a  class="btn btn-sm btn-primary pull-right" href="https://qa202.infusionsoft.com/app/form/default-campaign-form9">Try Our Demo</a></p>
		</div>
	  </div>
	</div>
</footer>

