	<div id="socialbuttons"	
<!-- AddThis Follow BEGIN -->
<p>Follow Us</p>
<div class="addthis_toolbox addthis_32x32_style addthis_default_style">
<a class="addthis_button_facebook_follow" addthis:userid="cmERDCElearning"></a>
<a class="addthis_button_twitter_follow" addthis:userid="cmerdcelearning"></a>
<a class="addthis_button_pinterest_follow" addthis:userid="cmerdcelearning"></a>
<a class="addthis_button_reddit"></a
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4fa2d9fd09305e2c"></script>
<!-- AddThis Follow END -->
</div>
<div class='contactFooterContent'>
		
			Central Minnesota Educational Research and Development Council, St Cloud, MN
			</div>
			<!--Add the following script at the bottom of the web page (before </body></html>)-->
<script type="text/javascript" src="https://mylivechat.com/chatbutton.aspx?hccid=20853792"></script>

