

<div class='headerblock'>
<div id='request' style='float:right; margin-top:-5px; margin-right:25px; border:0; padding:0;'><a href="http://elearning.technology.<!rootDomainSegment!>/eDemoAccess/"><img src='../images/requestdemobutton.png' height='65px'></img></a></div>
<a href='http://technology.<!rootDomainSegment!>#id=elearning'><div style='float:left;'>
		<div class='logo'><span style='font-size:70%;'>Learning Solutions</div><br /><br />
		<div class='fullname'>Flexible <b>eLearning solutions</b> for your school's needs</div>
</div>
</a>
		<!--<div class='tagLine'>Flexible Solutions!</div> -->
		

</div>
