<a href='http://<!baseDomain!>'>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4fa2d9fd09305e2c" async="async"></script>

<div class='headerblock'>
	<div class='pull-left'>
		<div class='logo'><span style='font-size: 70%;'>Learning Solutions</span></div>
		<div class='fullname'style='margin-top: -15px;'><h4><span class="glyphicon glyphicon-globe"></span>&nbsp;Digital & Online</h4></div>
	</div>
	<div class='tagLine pull-right'>Create a community of learners!</div>
</div>