
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4fa2d9fd09305e2c" async="async"></script>

<div class='page-header'itemscope itemtype="http://schema.org/Product" >
	<div class="row">
		<div itemprop="name" class="col-md-6">
			<h1 class="headerTitle">cmERDC Learning Solutions</h1>
			<div class='fullname'><h2 class="headerTitle"><span class="text-muted"><span class="glyphicon glyphicon-globe"></span>&nbsp;Digital & Online</span></h2></div>
		</div> </a>
		<div class="col-md-6">
			<h3 class="tagLine">Create a community of learners!</h3>
		</div>
	</div>
</div>